[submodule "apps/app-react-one"]
	path = apps/app-react-one
	url = https://github.com/RaamPrashath/app-react-one.git
	branch = main
[submodule "apps/app-react-two"]
	path = apps/app-react-two
	url = https://github.com/RaamPrashath/app-react-two.git
	branch = main
